* {
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #000000de;
    height: 100vh;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 3px;
    border: 1px solid;
}

header{
    text-align: center;
}

.circle {
    /*----κεντράρισμα ----*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*-------------------*/
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 50%;
}

.circle a {
    text-decoration: none;
    font-size: 24px;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

footer{
    text-align: center;
}













/*.circle button {
    border: none;
    background: none;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
    font-size: 24px;
    cursor: pointer;
}*/